<!-- Start of container -->
<div class="container">
  <main class="row">
    <div class="col-md-12">
      <article class="block">
        <h1 class="block-header">Portfolio</h1>
        <hr />
        <div class="row">
          {{#each project}}
          <div class="card col-sm-6 col-md-12 col-lg-6">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <a href="{{github}}">
                <img class="img-fluid port-image" src="{{img}}" alt="{{name}}">
              </a>
              <p class="card-text">{{description}}</p>
              {{#if deployed}}<a href="{{deployed}}">See it deployed here!</a>{{/if}}
              </p>
            </div>
          </div>
          {{/each}}
      </article>
    </div>
  </main>
</div>
<!-- End of container -->